	<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        </p>
        <ul class="contact-list">
            <h3><a href="../contact/">Contact</a></h3>
			<li>Copyright © Method Photo 2010–2023</li>
        </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
		<a href="https://instagram.com/methodphotonew">
     		<img src="../assets/instagram.webp" width="17" height="17" alt="Instagram">
     	</a>
     	<a href="https://glass.photo/methodphoto">
      		<img src="../assets/glass.svg" alt="Glass Photo">
      	</a>
        <a href="https://toot.community/@methodphoto">
     		<img src="../assets/mastodon.svg" alt="Mastodon">
     	</a>
    </div>

  </div>

</footer>