<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
			<li>Copyright © Method Photo 2010–{{ site.time | date: '%Y' }}</li>
        </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
        <a href="https://bsky.app/profile/methodphoto.bsky.social">
     		<img src="/assets/bluesky.svg" width="44" height="44" alt="Bluesky">
     	</a>
     	<a href="https://glass.photo/methodphoto">
          <picture>
            <source srcset="/assets/glass-dark.svg" media="(prefers-color-scheme: dark)">
      		  <img src="/assets/glass.svg" width="44" height="44" alt="Glass Photo">
          </picture>
      	</a>
        <a href="https://instagram.com/methodphotonew">
     		<img src="/assets/instagram.svg" width="44" height="44" alt="Instagram">
     	</a>
    </div>
  </div>
</footer>
