<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
			<li>Copyright © Method Photo 2010–{{ site.time | date: '%Y' }}</li>
        </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
		<a href="https://instagram.com/methodphotonew">
     		<img src="/assets/instagram.svg" width="44" height="44" alt="Instagram">
     	</a>
     	<a href="https://glass.photo/methodphoto">
      		<img src="/assets/glass.svg" width="44" height="44" alt="Glass Photo">
      	</a>
        <a href="https://toot.community/@methodphoto">
     		<img src="/assets/mastodon.svg" width="44" height="44" alt="Mastodon">
     	</a>
    </div>
  </div>
</footer>