---

---


@import "minima";

$primary-color: #333f48;
$primary-header-color: #0c5b97;
$primary-link-color: #0c5b97;
$secondary-link-color: #996699;
$primary-tint-color: #EFFBFB;


.wrapper {
    max-width: -webkit-calc(1280px -(30px * 2));
    max-width: calc(1280px -(30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left:30px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px -(30px));
        max-width: calc(800px -(30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

body {
	font-family: myriad-pro-1, myriad-pro-2,sans-serif;
	margin: 0 2em;
	font-size: 110%;
}

h1 {
	font-weight: 500;
	color: $primary-header-color;
}

article {
 margin-bottom: 20px;
}

.container {
	margin-bottom: 30px;
}

.site-header {
	margin-top: 15px;
	border: none;
}

.item {display: inline;}

.top {margin-top: 20px;}

.right {margin-right: 20px;}

.bottom {margin-bottom: 30px;}

.left {margin-left: 20px;}


a.page-link {
	color: $primary-link-color !important;
	text-decoration: none;
}

a.page-link:hover {
	color: $secondary-link-color !important;
	text-decoration: underline;
}

a:hover.page-link {
	color: $secondary-link-color !important;
	text-decoration: underline;
}

li.p-name {
	display: none;
}

.item a:hover {
	opacity: 85%;
	scale: 120%;
}

.overlay a h2 {
	display: hidden;
}

.overlay a:hover h2 {
	display: visible;
}

.grid {
  display: grid;
  gap: 0.75rem, 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  text-align: center;
}

.grid img {
	height: 125px;
	width: 125px;
}

.grid img:hover {
	opacity: 80%;
}

.gallerytitle {
	display: block;
	margin: 4px 0 8px 0;
	padding-bottom: 8px !important;
	font-size: 14px;
	line-height: 16px !important;
	color: $primary-header-color;
}

blockquote {
	color: $primary-header-color;
	font-style: normal;
	letter-spacing: 0 !important;
}

.kanji {
	text-align: center;
}


@media screen and (max-width: 600px) {
	.grid {
		display: grid;
		gap: 0.5rem;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	.grid img {
		height: 100px;
		width: 100px;
	}
}